<a href="https://colab.research.google.com/github/gabcsx/CCDATSCL_EXERCISES_COM221ML/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [189]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [190]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [191]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [192]:
df.shape

(48895, 16)

Identify the numerical features:

In [193]:
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Numerical features:", numerical_features)

Numerical features: ['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

Identify the categorical features

In [194]:
categorical_features = df.select_dtypes(include=['object']).columns.tolist()
print("Categorical features:", categorical_features)

Categorical features: ['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'last_review']

What are the top 5 questions this dataset might help answer?

In [195]:
# 1. Which neighborhoods have the highest average price for rentals?
# 2. Which room type is most popular?
# 3. Who has the highest review score?
# 4. How many rentals are in Manhattan?
# 5. Do longer stays cost more?

## B. Structuring

Check if the dataset has proper column types

In [196]:
print(df.dtypes)

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Check if the dataset has index issues

In [197]:
print(df.index)

# Also check if the index is unique:
print(df.index.is_unique)

RangeIndex(start=0, stop=48895, step=1)
True

Check if the dataset has duplicated rows

In [198]:
print(df.duplicated().sum())

0

Convert columns to correct types (e.g., dates → datetime).

In [199]:
df['last_review'] = pd.to_datetime(df['last_review'])

# Check if any price values have decimals
has_decimals = (df['price'] % 1 != 0).any()
print("Does 'price' have decimal numbers?", has_decimals)

Does 'price' have decimal numbers? False

In [200]:
print(df.dtypes)

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Identify at least one structural issue and describe how to fix it.

In [201]:
print("Checking structural issues...\n")

issues = []
fixes = []

# Check if 'price' column has structural issues
if 'price' in df.columns:
    if df['price'].dtype == 'object':
        test_numeric = pd.to_numeric(df['price'], errors='coerce')
        non_numeric_count = test_numeric.isna().sum()
        if non_numeric_count > 0:
            issues.append(f"Price has {non_numeric_count} non-numeric values")
            fixes.append("Use pd.to_numeric(df['price'], errors='coerce') then drop NaN rows")
            print(f"Issue: Price column has {non_numeric_count} non-numeric values")
            print(f"Fix: Convert to numeric and remove invalid rows\n")
    else:
        invalid = (df['price'] <= 0).sum()
        if invalid > 0:
            issues.append(f"Price has {invalid} invalid values (<=0)")
            fixes.append("Remove rows: df = df[df['price'] > 0]")
            print(f"Issue: {invalid} prices are <= 0")
            print(f"Fix: Remove rows with price <= 0\n")

# Check if date/review columns are stored as strings
date_cols = [col for col in df.columns if 'date' in col.lower() or 'review' in col.lower()]
for col in date_cols:
    if df[col].dtype == 'object':
        issues.append(f"{col} is string, should be datetime")
        fixes.append(f"Convert: df['{col}'] = pd.to_datetime(df['{col}'], errors='coerce')")
        print(f"Issue: {col} is stored as string")
        print(f"Fix: Convert to datetime type\n")

# Check index for uniqueness and sequential order
if not df.index.is_unique:
    issues.append("Index has duplicates")
    fixes.append("Reset index: df = df.reset_index(drop=True)")
    print("Issue: Index has duplicate values")
    print("Fix: Reset index\n")
elif df.index.min() != 0:
    issues.append("Index not starting from 0")
    fixes.append("Reset index: df = df.reset_index(drop=True)")
    print("Issue: Index is not sequential")
    print("Fix: Reset index\n")

print("=" * 50)
print("Summary:")
if issues:
    for i, (issue, fix) in enumerate(zip(issues, fixes), 1):
        print(f"{i}. {issue}")
        print(f"   → {fix}")
else:
    print("No major structural issues found")

Checking structural issues...

Issue: 11 prices are <= 0
Fix: Remove rows with price <= 0

==================================================
Summary:
1. Price has 11 invalid values (<=0)
   → Remove rows: df = df[df['price'] > 0]

## C. Cleaning

Check for missing values

In [202]:
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [203]:
# Check for outliers in minimum_nights
print(df['minimum_nights'].describe())
print("Values above 30 or 365 are likely outliers.")
print("Outlier count:", (df['minimum_nights'] > 30).sum())

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64
Values above 30 or 365 are likely outliers.
Outlier count: 747

Check for invalid values (e.g., price ≤ 0)

In [204]:
# Check for invalid values in price
print("Number of listings with price <= 0:", (df['price'] <= 0).sum())

Number of listings with price <= 0: 11

In [205]:
# Remove rows where price is less than or equal to 0
df = df[df['price'] > 0]

print((df['price'] <= 0).sum())

0

Apply a missing-value strategy (drop, fill, or flag)

In [206]:
# For missing 'name' and 'host_name', fill with 'Unknown' or 'Missing'
df['name'] = df['name'].fillna('Unknown')
df['host_name'] = df['host_name'].fillna('Unknown')

# For missing 'last_review' and 'reviews_per_month', fill with 0 or a flag
df['last_review'] = df['last_review'].fillna('No Review')
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

Apply an outlier-handling strategy

In [207]:
# Remove listings with minimum_nights > 30
df = df[df['minimum_nights'] <= 30]

# Remove listings with unrealistic nightly prices
df = df[(df['price'] >= 10) & (df['price'] <= 1000)]

In [208]:
# After cleaning
print(df.isnull().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [209]:
# price_per_minimum_night
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']

In [210]:
# review_rate_per_month (combine number_of_reviews and reviews_per_month)
df['review_rate_per_month'] = df['number_of_reviews'] / (df['reviews_per_month'] + 1e-6)  # avoid division by zero

In [211]:
# is_expensive (boolean flag based on price threshold)
df['is_expensive'] = df['price'] > 150

Create 1 aggregated summary table

(e.g. average price per neighborhood, number of hosts per borough)

In [212]:
# Average price per neighborhood
avg_price_per_neighborhood = df.groupby('neighbourhood')['price'].mean().reset_index()
print(avg_price_per_neighborhood)

       neighbourhood       price
0           Allerton   87.595238
1      Arden Heights   67.250000
2           Arrochar  115.000000
3            Arverne  154.302632
4            Astoria  101.245753
..               ...         ...
216  Windsor Terrace  138.051613
217        Woodhaven   67.170455
218         Woodlawn   60.090909
219          Woodrow  700.000000
220         Woodside   85.515021

[221 rows x 2 columns]

In [213]:
# Number of hosts per borough (neighbourhood_group)
hosts_per_borough = df.groupby('neighbourhood_group')['host_id'].nunique().reset_index(name='num_hosts')
print(hosts_per_borough)

  neighbourhood_group  num_hosts
0               Bronx        782
1            Brooklyn      15730
2           Manhattan      16194
3              Queens       3941
4       Staten Island        252

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [214]:
def validate_airbnb_data(df):
    # Validation rules
    rules = [
        {
            'Rule': 'Price must be positive',
            'Condition': df['price'] > 0
        },
        {
            'Rule': 'Host ID should not be null',
            'Condition': df['host_id'].notnull()
        },
        {
            'Rule': 'Minimum nights must be >= 1',
            'Condition': df['minimum_nights'] >= 1
        }
    ]

    # Collect results
    summary = []
    for r in rules:
        violating_rows = (~r['Condition']).sum()
        status = 'PASS' if violating_rows == 0 else 'FAIL'
        summary.append({
            'Rule': r['Rule'],
            'Violating Rows': violating_rows,
            'Status': status
        })

    summary_df = pd.DataFrame(summary)
    return summary_df

# Run validation
validation_summary = validate_airbnb_data(df)

# Display validation results
print("Validation Summary:")
print(validation_summary.to_string(index=False))

# Professional Recommendation
for idx, row in validation_summary.iterrows():
    if row['Status'] == 'FAIL':
        print(f"\nRecommendation for '{row['Rule']}':")
        if 'Price' in row['Rule']:
            print("→ Remove listings with non-positive price.")
        elif 'Host ID' in row['Rule']:
            print("→ Remove or impute rows with missing Host ID.")
        elif 'Minimum nights' in row['Rule']:
            print("→ Remove or correct listings with minimum_nights < 1.")

Validation Summary:
                       Rule  Violating Rows Status
     Price must be positive               0   PASS
 Host ID should not be null               0   PASS
Minimum nights must be >= 1               0   PASS

## F. Publishing

Select final columns for publication.

In [215]:
# Final relevant columns for publication
final_columns = [
    'id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood',
    'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
    'number_of_reviews', 'last_review', 'reviews_per_month',
    'calculated_host_listings_count', 'availability_365',
    'price_per_minimum_night', 'review_rate_per_month', 'is_expensive'
]
df_final = df[final_columns]

Export cleaned dataset as "cleaned_airbnb.csv"

In [216]:
# Export the cleaned dataset
df_final.to_csv('cleaned_airbnb.csv', index=False)
print("Cleaned dataset exported as cleaned_airbnb.csv")

Cleaned dataset exported as cleaned_airbnb.csv

Export summary reports (e.g., validation or aggregations) as CSV.

In [217]:
# Export validation summary
validation_summary.to_csv('validation_report.csv', index=False)
print("Validation report exported as validation_report.csv")

# Export aggregated summary table (example: avg_price_per_neighborhood)
avg_price_per_neighborhood.to_csv('avg_price_per_neighborhood.csv', index=False)
print("Aggregated summary exported as avg_price_per_neighborhood.csv")

Validation report exported as validation_report.csv
Aggregated summary exported as avg_price_per_neighborhood.csv